.asia-background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/asia-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.europa-background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/background-europa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bahamas-background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/background_bahamas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}