$blue: #002fff;
$white: #ffff;
$black: #222222;
$hover-nav: rgb(88, 41, 163);
$card-shadow: rgb(231, 142, 68);;
$purple: #b42cdd;
$cyan: rgb(99, 199, 199);
$red: rgb(230, 63, 63);
$green: rgb(117, 214, 104);
$tomato: rgb(170, 86, 71);