.dark-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../img/hero-alter.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  }

  #hero .container {
    height: 80vh;
  }
  
  #nav-logo {
    color: $white;
  }
  
  nav ul li .active {
    border-bottom: 2px solid transparent;
  
    &:hover {
      border-bottom-color: $cyan;
      transition: 750ms;
    }
  }

