/*=== Propiedades para el Navbar ===*/

#position{
  position: fixed;
  z-index: 999;
}

/*=== Barrita de color que se aplica en el nav. Home, Account, Hot Sale y Contact. ===*/  
    nav ul li .active {
    border-bottom: 2px solid transparent;
  
    &:hover {
      border-bottom-color: $RojoHover;
      transition: 750ms;
    }
}

  .list-name{
    color: $White;
    
    &:hover{
      color: $RojoHover;
      transition: all .2s;
    }
}

/*Cambio de color rojo a las líneas de la hamburguesa*/
.bar-color{
  background-color: $RojoHover !important;
}


/*Propiedades para el cambio al menú hamburguesa*/
.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.toggler-icon{
  width: 30px;
  height: 3px;
  background-color: $RojoHover;
  display: block;
  transition: all 0.2s;
}

.middle-bar{
  margin: 5px auto;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
  background-color: #777777;
}

.dropdown-menu{
  border: 0;
}
.list-title-blue{
  color: rgb(29, 29, 204);
}