.modal-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg-modal.jpg);
    box-shadow: 0 5px 50px #ff0040;
    border-radius: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.index-bg{
    background-image: linear-gradient(rgba(255, 251, 251, 0.8), rgba(0, 0, 0, 0.8));
}
