  .registro {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/registro.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }