* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Zen Antique', serif;
    font-weight: 500;

    & img {
      width: 100%;
      object-fit: fill;
    }
    & p{
      font-size: 1.4rem;
    }
    & h2{
      font-size: 3.5rem;
    }
    & h5{
      font-size: 1.8rem;
    }
  }

  /*uso esto para sacar el borde celeste en los formularios y botón.*/

  .form-control:focus {
    box-shadow: none!important;
    border-color: #ced4da!important;
  }

  .btn:focus {
    box-shadow: none!important;
    border-color: #ced4da!important;
  }

 


