.team-wrapper{
    padding: 60px 0;

}
.section-title{
    padding: 20px 0;
    
}
.team-item{
    position: relative;
    background-color: #424248;
    margin: 15px 5px;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s;
    border-radius: 50%;

}
.item-meta{
    position: absolute;
    width: 100%;
    bottom: -35px;
    left: 0;
    padding: 10px 20px;
    transition: all .5s;
    background: linear-gradient(rgba(0, 0, 0, 0.8));

    & h3{
        color: #fff;
        font-size: 1.5rem;
    }

    & h6{
        color: #ff0040;
        font-weight: bolder;
    }
}
.team-item:hover .item-meta{
    bottom: 0;
}

.item-image img{
    border:  6px solid white;
    border-radius: 50%;
    object-fit:fill;
    height: 250px;

    &:hover{
        transition: all .5s;
        border:  6px solid $RojoHover;
    }
}
