@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Zen Antique', serif;
  font-weight: 500;
}

* img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

* p {
  font-size: 1.4rem;
}

* h2 {
  font-size: 3.5rem;
}

* h5 {
  font-size: 1.8rem;
}

/*uso esto para sacar el borde celeste en los formularios y botón.*/
.form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: #ced4da !important;
}

.btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: #ced4da !important;
}

#position {
  position: fixed;
  z-index: 999;
}

.dark-bg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45))), url(../img/hero-alter.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/hero-alter.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#hero .container {
  height: 85vh;
}

nav ul li .active {
  border-bottom: 2px solid transparent;
}

nav ul li .active:hover {
  border-bottom-color: #ff0040;
  -webkit-transition: 750ms;
  transition: 750ms;
}

.list-name {
  color: #fff !important;
}

.list-name:hover {
  color: #ff0040 !important;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.text-red {
  color: #ff0040 !important;
}

.background-login {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../img/login.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/login.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form {
  padding: 300px 0;
}

.login-form form {
  background-color: rgba(255, 255, 255, 0.2);
  max-width: 500px;
  margin: auto;
  padding: 40px 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 0px 2px 10px #838282;
          box-shadow: 0px 2px 10px #838282;
}

.login-form .form-name {
  text-align: center;
  margin-bottom: 25px;
  line-height: 100px;
}

.login-form .item {
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 10px 20px;
}

.login-txt a {
  text-decoration: none !important;
  color: #fff !important;
}

.signup-background {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../img/signup-background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/signup-background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.contact-background {
  background-image: url(../img/contact-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.divider {
  height: 2px;
  width: 55%;
  margin: 18px auto;
}

.icon-box {
  width: 80px;
  height: 80px;
  background-color: #3a8878;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  margin: 0 auto 24px auto;
  color: #fff;
}

.team-wrapper {
  padding: 60px 0;
}

.section-title {
  padding: 20px 0;
}

.team-item {
  position: relative;
  background-color: #424248;
  margin: 15px 5px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 50%;
}

.item-meta {
  position: absolute;
  width: 100%;
  bottom: -35px;
  left: 0;
  padding: 10px 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(rgba(0, 0, 0, 0.8));
}

.item-meta h3 {
  color: #fff;
  font-size: 1.5rem;
}

.item-meta h6 {
  color: #ff0040;
  font-weight: bolder;
}

.team-item:hover .item-meta {
  bottom: 0;
}

.item-image img {
  border: 6px solid white;
  border-radius: 50%;
  -o-object-fit: fill;
     object-fit: fill;
}

.item-image img:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
  border: 6px solid #ff0040;
}

.destino-estilo {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 30px rgba(102, 27, 117, 0.8);
          box-shadow: 0 5px 30px rgba(102, 27, 117, 0.8);
  border-radius: 5%;
}

.info-estilo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(102, 27, 117, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 50px;
  opacity: 0.2;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.destino-estilo:hover .info-estilo {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.asia-background {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../img/asia-background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/asia-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.europa-background {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../img/background-europa.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/background-europa.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bahamas-background {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../img/background_bahamas.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/background_bahamas.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-bg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/bg-modal.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg-modal.jpg);
  -webkit-box-shadow: 0 5px 50px rgba(102, 27, 117, 0.966);
          box-shadow: 0 5px 50px rgba(102, 27, 117, 0.966);
  border-radius: 5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.index-bg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 248, 248, 0.8)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(rgba(248, 248, 248, 0.8), rgba(0, 0, 0, 0.2));
}

.list-name {
  color: #fff !important;
}

.list-name:hover {
  -webkit-transition: all .5s !important;
  transition: all .5s !important;
  color: #ff0040 !important;
}

.list-title {
  color: #ff0040;
}
/*# sourceMappingURL=main.css.map */